<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Documentos</title>

    <script src="/stylesheets/UIkit/js/uikit.min.js"></script>
    <script src="/stylesheets/UIkit/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/UIkit/css/uikit.min.css" />
</head>