body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
div.menu{
  justify-items: center;
  margin:20px;
  background: black;
  height: 100px;

}
div.menu h1 {
  text-align: center;
  padding: 20px;
}
div.menu h1 a {
  color: white;
  font: bold;
  text-decoration: none;
  
}
div.menu h1 a:hover {
  color:aquamarine;
  text-decoration: underline;
}

div.banda{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease-in-out;
}
img {
  height: 100%;
  width: 100%;
}
div.overlay {

  align-content: center;
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0;
}

div.wrap:hover {
  transform: scale(1.05);
  z-index: 9;
}

div.wrap:hover .overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  background-color:rgba(127, 255, 212, 0.756);
  
  width: 100%;
  height: 100%;
}
div.detalles{
  display: flex;
  flex-direction: column;
  align-items: center;
}
iframe{
  width: 100%;
  height: 800px;
}
h2{
  width: 70%;
  background: black;
  font: bold;
  color: whitesmoke;
  padding: 20px;
  text-align: center;
}
div.detalles{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

